.App {
  text-align: center;
}

.navbar {
  display: grid;
  grid-template-columns: 3fr 7fr 4fr 1fr 1fr 1fr;
  grid-template-rows: 90px;

  position: sticky;
  top: 0px;
}

.wrapper {
  display: grid;
  grid-template-rows: 48px 400px 28px 500px 392px;

  margin-top: 0px;
}

.styleswitcher {
  grid-column: 1/7;
  grid-row: 1/2;
  background-color: aqua;
}

.banner {
  grid-column: 1/7;
  grid-row: 2/3;
  background-color: greenyellow;
}

.recommanedforyou {
  grid-column: 1/7;
  grid-row: 3/4;
  background-color:blueviolet;
}

.gallery {
  grid-column: 1/7;
  grid-row: 4/5;
  background-color:grey;
}

.bottommenu {
  grid-column: 1/7;
  grid-row: 5/6;
  color:white;
  background-color:black;
}

.container-main {
  background-color:white;
}

.item {
  background-color: white;
  border: 1px solid black;
}
